.container{
    text-align: center;
    margin: 0 auto;
}

.header{
    justify-content: center;
}

#generate{
    margin: 25px 0px;
    justify-content: center;
}

.house, .region, .words, .titles, .seats, .current-lord, .heir, .overlord, .cadet-branches, .sworn-members, .ancestral-weapons{
    text-align: center;
    margin: 20px;
}

.header-img{
    display: block;
    margin: 10px auto;
    border: 3px solid lightslategray;
}